/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body{
    width: auto;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.container{
    width: 100%;
}
/* top style */
.header-top{
    height: auto;
    padding: 8%;
    display: grid;
    background-color: #2d25a0;
    color: white;
    grid-template-columns: repeat(2,1fr);
}

.header-title h1 {
    font-size: 64px;
    font-weight: 700px;
    color: white;
  }

.button{
    text-decoration: none;
    background-color: #e02c6d;
    color: white;
    padding: 10px 40px;
}
.header-img img{
    width: 70%;
}

/* Grid Player */
.player-grid {
    margin: 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  
  .player-grid img {
    width: 100%;
  }
  
  p {
    color: #6c6c6c;
  }
  
  .player {
    padding: 15px;
    background: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.151);
  }

  /* sponsor style  */
.sponsor {
    padding: 0 7%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }
  
  .container h2 {
    text-align: center;
  }
  
  .sponsor img {
    width: 200px;
  }
  
  .sponsor-company {
    margin: 15px;
    padding: 15px;
  }

  /* footer style  */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo {
    margin-bottom: 15px;
  }
  .footer-logo img {
    width: 100%;
  }
  .fa-icon a {
    width: 32px;
    height: 32px;
    background-color: #969bab25;
    text-decoration: none;
    margin: 0 14px;
    color: #969bab;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .fa-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copyright p {
    margin-top: 20px;
  }
  
/* Mobile Devices */
@media only screen and (max-width: 688px) {
    .container {
      width: 100%;
    }
    .sponsor,
    .player-grid,
    .header-top{
      grid-template-columns: repeat(1, 1fr);
    }
  
    .header-img {
      margin-top: 15%;
    }
  
    .header-title h1 {
      font-size: 2.5em;
    }
  
    .sponsor-company {
      margin: auto;
      padding: 30px;
    }
  
    .sponsor,
    .player-grid,
    .header-top {
      flex-direction: column;
    }
  
    .footer-logo {
      width: 80%;
    }
  }

  /* Tab Devices */
  @media only screen and (min-width: 668px) and (max-width: 1024px) {
    .container {
      width: 100%;
    }
  
    .header-top {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .header-title h1 {
      font-size: 4em;
    }
  
    .header-title a {
      font-size: 2.5em;
    }
  
    .player-grid,
    .sponsor {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .header-img {
      margin-top: 15%;
    }
  
    .header-img {
      width: 100%;
    }
  
    .sponsor-company {
      margin: auto;
      padding: 30px;
    }
  
    .sponsor,
    .player-grid,
    .header-top {
      flex-direction: column;
    }
  
    .footer-logo {
      width: 80%;
    }
  }
  